Repository archethic-foundation/archethic-node, pull requests merged in 2022-04, with the labels that each got.

#271 New storage layer with an embedded database
  README.md
  config/config.exs
  docker-compose.yml
  lib/archethic/db.ex
  lib/archethic/db/cassandra_impl.ex
  lib/archethic/db/cassandra_impl/cql.ex
  lib/archethic/db/cassandra_impl/schema_migrator.ex
  lib/archethic/db/cassandra_impl/supervisor.ex
  lib/archethic/db/embedded_impl.ex
  lib/archethic/db/embedded_impl/bootstrap_info.ex
  lib/archethic/db/embedded_impl/chain_index.ex
  lib/archethic/db/embedded_impl/chain_reader.ex
  lib/archethic/db/embedded_impl/chain_writer.ex
  lib/archethic/db/embedded_impl/encoding.ex
  lib/archethic/db/embedded_impl/p2p_view.ex
  lib/archethic/db/embedded_impl/stats_info.ex
  lib/archethic/db/embedded_impl/supervisor.ex
  lib/archethic/replication.ex
  lib/archethic/replication/transaction_context.ex
  lib/archethic/transaction_chain.ex
  lib/archethic/transaction_chain/transaction.ex
  lib/archethic/transaction_chain/transaction/cross_validation_stamp.ex
  lib/archethic/transaction_chain/transaction/validation_stamp/ledger_operations/transaction_movement.ex
  lib/archethic_web/live/chains/oracle_live.ex
  lib/mix/tasks/clean_db.ex
  mix.exs
  mix.lock
  test/archethic/beacon_chain/subset_test.exs
  test/archethic/bootstrap/network_init_test.exs
  test/archethic/bootstrap/sync_test.exs
  test/archethic/bootstrap_test.exs
  test/archethic/db/cassandra_impl/cql_test.exs
  test/archethic/db/cassandra_impl/schema_migrator_test.exs
  test/archethic/db/cassandra_impl_test.exs
  test/archethic/db/embedded_impl/chain_index_test.exs
  test/archethic/db/embedded_impl/chain_reader_test.exs
  test/archethic/db/embedded_impl_test.exs
  test/archethic/replication/transaction_context_test.exs
  test/archethic/replication_test.exs
  test/archethic/self_repair/sync/beacon_summary_handler/transaction_handler_test.exs
  test/archethic/self_repair/sync/beacon_summary_handler_test.exs
  test/archethic/self_repair/sync_test.exs
  test/support/transaction_factory.ex
  test/test_helper.exs
Labels: feature, DB

#279 Fix the shared secret keystore loading
  lib/archethic/crypto/keystore/shared_secrets/software_impl.ex
  lib/archethic/db.ex
  lib/archethic/db/embedded_impl.ex
  lib/archethic/transaction_chain.ex
  test/archethic/crypto/keystore/shared_secrets/software_impl_test.exs
  test/support/template.ex
Labels: bug, crypto, DB, shared-secrets

#264 Fix GeoPatch algorithm
  config/test.exs
  lib/archethic/p2p/geo_patch.ex
  test/archethic/bootstrap_test.exs
  test/archethic/p2p/geo_patch_test.exs
Labels: bug, P2P, external-contribution

#283 Fix NFT tx movement decoding
  lib/archethic/transaction_chain/transaction/validation_stamp/ledger_operations/transaction_movement.ex
Labels: bug, transaction

#284 Fix DB decoding of nested list
  lib/archethic/db/embedded_impl/encoding.ex
Labels: bug, DB

#280 Made use of get_first_public_key to always return a public key even i…
  lib/archethic/mining/pending_transaction_validation.ex
  lib/archethic/p2p/message.ex
  lib/archethic/p2p/message/get_first_public_key.ex
  test/archethic/p2p/messages_test.exs
Labels: bug, P2P, serialization

#238 Add node worldmap in explorer
  assets/js/app.js
  assets/js/worldmap.js
  assets/package-lock.json
  assets/package.json
  assets/static/worldmap.json
  lib/archethic/p2p.ex
  lib/archethic/p2p/geo_patch.ex
  lib/archethic_web/live/worldmap_live.ex
  lib/archethic_web/router.ex
  lib/archethic_web/templates/layout/root.html.eex
  lib/archethic_web/templates/node/worldmap.html.leex
  mix.exs
  mix.lock
  test/archethic/p2p/geo_patch_test.exs
  test/archethic_web/live/worldmap_live_test.exs
Labels: feature, UI, core team

#289 improve mining error handling
  lib/archethic/mining/distributed_workflow.ex
Labels: feature, mining

#290 Fix tests on CI with more determinism
  config/test.exs
  lib/archethic/beacon_chain/summary_timer.ex
  lib/archethic/db/embedded_impl.ex
  lib/archethic/db/embedded_impl/chain_index.ex
  lib/archethic/mining/distributed_workflow.ex
  lib/archethic/p2p/message.ex
  lib/archethic/replication.ex
  mix.exs
  mix.lock
  test/archethic/beacon_chain/slot_timer_test.exs
  test/archethic/beacon_chain/summary_timer_test.exs
  test/archethic/db/embedded_impl/chain_index_test.exs
  test/archethic/db/embedded_impl_test.exs
  test/archethic/shared_secrets/node_renewal_scheduler_test.exs
Labels: feature, testing
