Repository archethic-foundation/archethic-node, pull requests merged in 2022-12, with the labels that each got.

#734 Fix GraphQL transaction_chain returning more than 10 tx
  lib/archethic.ex
  lib/archethic/transaction_chain.ex
Labels: bug, API

#671 :jigsaw: 566 & 645, Aggregate Fix & Fix self repair notifier #645
  Makefile
  config/config.exs
  lib/archethic/beacon_chain.ex
  lib/archethic/beacon_chain/subset.ex
  lib/archethic/db.ex
  lib/archethic/db/embedded_impl.ex
  lib/archethic/db/embedded_impl/chain_index.ex
  lib/archethic/p2p.ex
  lib/archethic/p2p/message.ex
  lib/archethic/p2p/message/address_list.ex
  lib/archethic/p2p/message/get_next_addresses.ex
  lib/archethic/p2p/message/shard_repair.ex
  lib/archethic/p2p/message/transaction_input_list.ex
  lib/archethic/self_repair.ex
  lib/archethic/self_repair/notifier.ex
  lib/archethic/self_repair/repair_worker.ex
  lib/archethic/self_repair/supervisor.ex
  lib/archethic/self_repair/sync.ex
  lib/archethic/transaction_chain.ex
  lib/archethic/utils/regression/benchmarks/end_to_end_validation.ex
  lib/archethic_web/live/chains/beacon_live.ex
  lib/archethic_web/live/chains/node_shared_secrets_live.ex
  lib/archethic_web/live/chains/reward_live.ex
  test/archethic/p2p/message/address_list_test.exs
  test/archethic/p2p/message/get_next_addresses_test.exs
  test/archethic/p2p/message/shard_repair_test.exs
  test/archethic/p2p/messages_test.exs
  test/archethic/replication_test.exs
  test/archethic/self_repair/notifier_test.exs
  test/archethic/self_repair/repair_worker_test.exs
  test/archethic_web/live/rewards_live_test.exs
Labels: bug, self repair, core team, to-analyze

#737 Fix notify last address
  lib/archethic/db/embedded_impl/chain_index.ex
  lib/archethic/p2p/message.ex
  lib/archethic/replication.ex
Labels: bug, replication

#721 Connection's reconnect is asynchronous
  lib/archethic/p2p/client/connection.ex
  test/archethic/p2p/client/connection_test.exs
Labels: core team, networking, enhancements

#718 Skip replication if there is a (cross)validation error
  lib/archethic/mining/distributed_workflow.ex
  lib/archethic/mining/validation_context.ex
  lib/archethic/transaction_chain/transaction/validation_stamp.ex
  test/archethic/mining/distributed_workflow_test.exs
  test/archethic/mining/validation_context_test.exs
Labels: bug, mining, core team

#738 Separate chain and io transaction in DB storage
  lib/archethic.ex
  lib/archethic/account.ex
  lib/archethic/account/mem_tables_loader.ex
  lib/archethic/contracts/loader.ex
  lib/archethic/db.ex
  lib/archethic/db/embedded_impl.ex
  lib/archethic/db/embedded_impl/chain_index.ex
  lib/archethic/db/embedded_impl/chain_reader.ex
  lib/archethic/db/embedded_impl/chain_writer.ex
  lib/archethic/oracle_chain/scheduler.ex
  lib/archethic/replication.ex
  lib/archethic/self_repair/sync.ex
  lib/archethic/transaction_chain.ex
  lib/archethic/utils/detect_node_responsiveness.ex
  test/archethic/account/mem_tables_loader_test.exs
  test/archethic/bootstrap/network_init_test.exs
  test/archethic/bootstrap_test.exs
  test/archethic/db/embedded_impl_test.exs
  test/archethic/replication_test.exs
  test/archethic/reward_test.exs
  test/archethic/self_repair/repair_worker_test.exs
  test/archethic/self_repair/sync/transaction_handler_test.exs
  test/archethic/self_repair/sync_test.exs
  test/archethic/utils/detect_node_responsiveness_test.exs
  test/support/template.ex
Labels: bug, DB, replication

#628 Catch error in proof of work to get contracts parsing error
  .dialyzer_ignore.exs
  .github/workflows/ci.yml
  lib/archethic/account/mem_tables_loader.ex
  lib/archethic/contracts.ex
  lib/archethic/contracts/contract.ex
  lib/archethic/contracts/contract/conditions.ex
  lib/archethic/contracts/contract/constants.ex
  lib/archethic/contracts/contract/trigger.ex
  lib/archethic/contracts/interpreter.ex
  lib/archethic/contracts/interpreter/action.ex
  lib/archethic/contracts/interpreter/condition.ex
  lib/archethic/contracts/interpreter/library.ex
  lib/archethic/contracts/interpreter/transaction_statements.ex
  lib/archethic/contracts/interpreter/utils.ex
  lib/archethic/contracts/loader.ex
  lib/archethic/contracts/transaction_lookup.ex
  lib/archethic/contracts/worker.ex
  lib/archethic/db.ex
  lib/archethic/db/embedded_impl.ex
  lib/archethic/db/embedded_impl/inputs_reader.ex
  lib/archethic/db/embedded_impl/inputs_writer.ex
  lib/archethic/mining/pending_transaction_validation.ex
  lib/archethic/mining/proof_of_work.ex
  lib/archethic/p2p/message.ex
  lib/archethic/transaction_chain.ex
  lib/archethic/transaction_chain/mem_tables_loader.ex
  lib/archethic/transaction_chain/transaction/validation_stamp.ex
  lib/archethic/transaction_chain/transaction_input.ex
  test/archethic/contracts/interpreter/action_test.exs
  test/archethic/contracts/interpreter/condition_test.exs
  test/archethic/contracts/interpreter_test.exs
  test/archethic/contracts/loader_test.exs
  test/archethic/contracts/worker_test.exs
  test/archethic/contracts_test.exs
Labels: smart contracts, mining, core team

#735 Support origin sofware keys with the Uniris's CA
  config/prod.exs
Labels: feature, crypto, system

#752 Fix origin certs
  lib/archethic/bootstrap/network_init.ex
  lib/archethic/crypto.ex
  lib/archethic/mining/pending_transaction_validation.ex
  lib/archethic_web/controllers/api/schema/origin_public_key.ex
Labels: bug, crypto

#765 Take older oracle chain uco price in tx validation
  lib/archethic/mining/validation_context.ex
  lib/archethic/replication/transaction_validator.ex
Labels: bug, mining, oracle chain, core team

#770 Prioritize local fetch of transaction in the replication
  lib/archethic/replication.ex
Labels: replication, enhancements

#776 Get previous oracle chain data
  lib/archethic/oracle_chain/mem_table.ex
  lib/archethic_web/controllers/api/transaction_controller.ex
  test/archethic/oracle_chain/mem_table_loader_test.exs
  test/archethic_web/controllers/api/transaction_controller_test.exs
Labels: bug, oracle chain

#778 Improve calculation time while getting inputs
  lib/archethic/p2p/message.ex
Labels: bug

#748 request missing address while receiving new last address
  lib/archethic/p2p/message.ex
  lib/archethic/p2p/message/notify_last_transaction_address.ex
  lib/archethic/replication.ex
  lib/archethic/self_repair.ex
  lib/archethic/self_repair/repair_worker.ex
  test/archethic/p2p/messages_test.exs
  test/archethic/replication_test.exs
  test/archethic/self_repair/repair_worker_test.exs
  test/archethic/self_repair/self_repair_test.exs
Labels: bug, DB, core team

#780 Resolve Message ReplicationError do not handle all error_762
  lib/archethic/p2p/message.ex
  lib/archethic/p2p/message/replication_error.ex
  lib/archethic/replication/transaction_validator.ex
  mix.exs
  mix.lock
  test/archethic/p2p/message/replication_error_test.exs
Labels: bug, core team, quality

#777 Handle properly networking scheduler task crash
  lib/archethic/application.ex
  lib/archethic/bootstrap.ex
  lib/archethic/networking.ex
  lib/archethic/networking/ip_lookup.ex
  lib/archethic/networking/port_forwarding.ex
  lib/archethic/networking/scheduler.ex
  mix.lock
  test/archethic/networking/ip_lookup_test.exs
Labels: core team, networking

#773 TransactionChain pagination in the explorer
  lib/archethic/db/embedded_impl/chain_reader.ex
  lib/archethic/p2p/message.ex
  lib/archethic/p2p/message/get_transaction_chain.ex
  lib/archethic/transaction_chain.ex
  lib/archethic_web/controllers/explorer_controller.ex
  lib/archethic_web/explorer_router.ex
  lib/archethic_web/live/chains/transaction_live.ex
  lib/archethic_web/templates/explorer/chain.html.heex
  lib/archethic_web/templates/explorer/transaction_details.html.heex
  lib/archethic_web/templates/layout/root.html.heex
  lib/archethic_web/templates/node/details.html.heex
  test/archethic/db/embedded_impl_test.exs
  test/archethic/p2p/messages_test.exs
Labels: core team

#783 Forward the welcome node when forwarding tx#760
  lib/archethic.ex
  lib/archethic/mining.ex
  lib/archethic/mining/standalone_workflow.ex
  lib/archethic/p2p/message.ex
  test/archethic/mining/standalone_workflow_test.exs
Labels: bug, core team

#781 fetch and assign async inputs and token details on transaction detail live
  lib/archethic_web/live/transaction_details_live.ex
Labels: UI, core team

#749 Add buning address to io storage nodes only if burning is intentionna…
  lib/archethic/account/mem_tables_loader.ex
  lib/archethic/mining/distributed_workflow.ex
  lib/archethic/mining/standalone_workflow.ex
  lib/archethic/transaction_chain.ex
  test/archethic/account/mem_tables_loader_test.exs
Labels: transaction, Fee, enhancements
