Repository archethic-foundation/archethic-node, pull requests merged in 2022-06, with the labels that each got.

#356 Remove involved nodes in beacon slots as unused
  lib/archethic/beacon_chain/slot.ex
Labels: beacon-chain, quality

#355 Make summary transaction address more consistent
  lib/archethic/beacon_chain.ex
  lib/archethic/election.ex
Labels: beacon-chain, quality

#352 Set last transaction address from the genesis in DB
  lib/archethic/db/embedded_impl/chain_index.ex
  lib/archethic/db/embedded_impl/chain_writer.ex
  test/archethic/db/embedded_impl_test.exs
Labels: bug, DB

#354 Fix previous_summary from summary timer
  lib/archethic/beacon_chain/summary_timer.ex
Labels: bug, beacon chain, core team

#353 Write transaction to specific genesis address
  lib/archethic/db.ex
  lib/archethic/db/embedded_impl.ex
  lib/archethic/transaction_chain.ex
Labels: feature, DB, core team

#358 Write beacon slot to summary chain
  lib/archethic/beacon_chain.ex
  lib/archethic/beacon_chain/subset.ex
Labels: feature, beacon chain, core team

#357 Remove TopTransactionLive as unused for now
  lib/archethic_web/templates/explorer/index.html.leex
Labels: UI, core team, quality

#359 Postponed beacon chain replication attestations when conflicts on slot/tx's time
  lib/archethic/beacon_chain/slot.ex
  lib/archethic/beacon_chain/subset.ex
  lib/archethic/beacon_chain/summary_timer.ex
  test/archethic/beacon_chain/summary_timer_test.exs
  test/archethic/beacon_chain_test.exs
Labels: feature, beacon chain, core team

#360 Fix beacon live transaction chain loading
  lib/archethic/crypto.ex
  lib/archethic_web/live/chains/beacon_live.ex
  lib/archethic_web/templates/explorer/beacon_chain_index.html.leex
Labels: bug, UI, beacon chain, core team

#343 Simplification of Origin key management
  .tool-versions
  lib/archethic/account/mem_tables_loader.ex
  lib/archethic/bootstrap/network_init.ex
  lib/archethic/bootstrap/sync.ex
  lib/archethic/mining/pending_transaction_validation.ex
  lib/archethic/shared_secrets/mem_tables_loader.ex
  lib/archethic/transaction_chain/mem_tables_loader.ex
  lib/archethic/transaction_chain/transaction.ex
  lib/archethic_web/controllers/api/origin_key_controller.ex
  lib/archethic_web/views/explorer_view.ex
  test/archethic/bootstrap/network_init_test.exs
  test/archethic/mining/pending_transaction_validation_test.exs
  test/archethic/shared_secrets/mem_tables_loader_test.exs
  test/archethic_web/controllers/api/origin_key_controller_test.exs
Labels: feature, API, breaking change, origin

#371 Improve Transaction API validation
  config/config.exs
  lib/archethic_web/controllers/api/schema/nft_ledger.ex
  lib/archethic_web/controllers/api/schema/ownership.ex
  lib/archethic_web/controllers/api/schema/transaction_data.ex
  lib/archethic_web/controllers/api/schema/uco_ledger.ex
  test/archethic_web/controllers/api/transaction_payload_test.exs
Labels: feature, good first issue, API

#365 Fixed Read Blog link
  lib/archethic_web/templates/faucet/index.html.eex
Labels: good first issue, UI

#351 Improve location using GeoLite2
  lib/archethic/p2p/geo_patch/geo_ip.ex
  lib/archethic/p2p/geo_patch/geo_ip/ip2location_impl.ex
  lib/archethic/p2p/geo_patch/geo_ip/maxmind_db.ex
  lib/archethic/p2p/supervisor.ex
  mix.exs
  mix.lock
  src/ip2location.erl
  test/archethic/p2p/geo_patch/geo_ip/ip2_location_test.exs
  test/archethic/p2p/geo_patch/geo_ip/maxmind_db_test.exs
Labels: bug, dependencies, core team

#389 Poll metrics Bug. Resolves #370.
  lib/archethic/metrics/collector.ex
  lib/archethic/utils.ex
  test/archethic/utils_test.exs
Labels: bug

#390 Token standard
  lib/archethic.ex
  lib/archethic/account.ex
  lib/archethic/account/mem_tables/nft_ledger.ex
  lib/archethic/account/mem_tables/token_ledger.ex
  lib/archethic/account/mem_tables_loader.ex
  lib/archethic/contracts/contract/conditions.ex
  lib/archethic/contracts/contract/constants.ex
  lib/archethic/contracts/interpreter.ex
  lib/archethic/contracts/interpreter/transaction_statements.ex
  lib/archethic/contracts/worker.ex
  lib/archethic/db/embedded_impl/encoding.ex
  lib/archethic/mining/fee.ex
  lib/archethic/mining/pending_transaction_validation.ex
  lib/archethic/p2p/message.ex
  lib/archethic/p2p/message/balance.ex
  lib/archethic/transaction_chain/transaction.ex
  lib/archethic/transaction_chain/transaction/data/ledger.ex
  lib/archethic/transaction_chain/transaction/data/ledger/nft/transfer.ex
  lib/archethic/transaction_chain/transaction/data/ledger/token.ex
  lib/archethic/transaction_chain/transaction/data/ledger/token/transfer.ex
  lib/archethic/transaction_chain/transaction/validation_stamp/ledger_operations.ex
  lib/archethic/transaction_chain/transaction/validation_stamp/ledger_operations/transaction_movement.ex
  lib/archethic/transaction_chain/transaction/validation_stamp/ledger_operations/transaction_movement/type.ex
  lib/archethic/transaction_chain/transaction/validation_stamp/ledger_operations/unspent_output.ex
  lib/archethic/transaction_chain/transaction_input.ex
  lib/archethic/utils/regression/playbook.ex
  lib/archethic_web/controllers/api/schema/ledger.ex
  lib/archethic_web/controllers/api/schema/token_ledger.ex
  lib/archethic_web/controllers/api/types/transaction_type.ex
  lib/archethic_web/graphql_schema/resolver.ex
  lib/archethic_web/graphql_schema/transaction_type.ex
  lib/archethic_web/templates/explorer/transaction_details.html.leex
  priv/json-schemas/token-core.json
  test/archethic/account/mem_tables/token_ledger_test.exs
  test/archethic/account/mem_tables_loader_test.exs
  test/archethic/account_test.exs
  test/archethic/bootstrap/sync_test.exs
  test/archethic/contracts/interpreter/transaction_statements_test.exs
  test/archethic/contracts/interpreter_test.exs
  test/archethic/mining/pending_transaction_validation_test.exs
  test/archethic/p2p/messages_test.exs
  test/archethic/transaction_chain/transaction/validation_stamp/ledger_operations/unspent_output_test.exs
  test/archethic/transaction_chain/transaction/validation_stamp_test.exs
  test/archethic/transaction_chain/transaction_data/ledger/nft/transfer_test.exs
  test/archethic/transaction_chain/transaction_data/ledger/nft_test.exs
  test/archethic/transaction_chain/transaction_data/ledger_test.exs
  test/archethic/transaction_chain/transaction_data/token_test.exs
  test/archethic/transaction_chain/transaction_test.exs
  test/archethic_web/controllers/api/transaction_payload_test.exs
  test/archethic_web/graphql_schema_test.exs
  test/support/template.ex
Labels: feature, mining, UI, serialization

#391 Better p2p concurrency
  lib/archethic/beacon_chain.ex
  lib/archethic/p2p/listener.ex
  lib/archethic/p2p/listener_protocol.ex
  lib/archethic/p2p/listener_protocol/broadway_pipeline.ex
  lib/archethic/p2p/listener_protocol/message_producer.ex
  lib/archethic/p2p/listener_protocol/supervisor.ex
  lib/archethic/p2p/supervisor.ex
  test/archethic/beacon_chain_test.exs
Labels: bug, P2P

#400 Improve selfrepair summary download
  lib/archethic/beacon_chain.ex
  lib/archethic/beacon_chain/summary_aggregate.ex
  lib/archethic/self_repair/sync.ex
  lib/archethic/self_repair/sync/beacon_aggregate.ex
  lib/archethic/self_repair/sync/beacon_summary_handler.ex
  lib/archethic/self_repair/sync/transaction_handler.ex
  lib/archethic_web/live/chains/beacon_live.ex
  test/archethic/beacon_chain_test.exs
  test/archethic/self_repair/sync/beacon_summary_handler_test.exs
  test/archethic/self_repair/sync/transaction_handler_test.exs
  test/archethic/self_repair/sync_test.exs
Labels: feature

#414 Fix single file error
  lib/archethic_web/controllers/api/web_hosting_controller.ex
Labels: bug

#418 Fix db timeouts
  lib/archethic/db/embedded_impl/chain_writer.ex
  test/archethic/db/embedded_impl_test.exs
Labels: bug, DB
