Repository archethic-foundation/archethic-node, pull requests merged in 2022-10, with the labels that each got.

#601 Fix paging address with selected fields
  lib/archethic/db/embedded_impl/chain_reader.ex
Labels: bug, DB

#603 Remove decrease availability history when node goes unavailable
  lib/archethic/p2p/mem_table.ex
Labels: bug, P2P, self repair

#602 Use NV indexes to store node's seed in TPM
  Makefile
  config/dev.exs
  config/prod.exs
  lib/archethic/crypto/keystore/node/origin.ex
  lib/archethic/crypto/keystore/node/origin/software_impl.ex
  lib/archethic/crypto/keystore/node/origin/tpm_impl.ex
  lib/archethic/crypto/keystore/node/software_impl.ex
  lib/archethic/crypto/keystore/node_supervisor.ex
  src/c/crypto/tpm/keygen.c
  src/c/crypto/tpm/lib.c
  src/c/crypto/tpm/lib.h
  src/c/crypto/tpm/port.c
  test/archethic/crypto/keystore/node/origin/tpm_impl_test.exs
  test/archethic/crypto/keystore/node/software_impl_test.exs
  test/support/template.ex
Labels: feature, crypto, system

#606 Store beacon aggregate after self-repair
  lib/archethic/beacon_chain.ex
  lib/archethic/beacon_chain/slot_timer.ex
  lib/archethic/beacon_chain/summary_aggregate.ex
  lib/archethic/crypto.ex
  lib/archethic/db.ex
  lib/archethic/db/embedded_impl.ex
  lib/archethic/db/embedded_impl/chain_reader.ex
  lib/archethic/db/embedded_impl/chain_writer.ex
  lib/archethic/p2p/message.ex
  lib/archethic/p2p/message/get_beacon_summaries_aggregate.ex
  lib/archethic/release_task.ex
  lib/archethic/self_repair/sync.ex
  lib/archethic_web/live/chains/beacon_live.ex
  lib/archethic_web/live/explorer/cache.ex
  lib/archethic_web/live/top_transactions_component.ex
  lib/archethic_web/live/top_transactions_live.ex
  lib/mix/tasks/migrate.ex
  rel/config.exs
  rel/post_start/migrate.sh
  test/archethic/beacon_chain/slot_timer_test.exs
  test/archethic/beacon_chain/summary_aggregate_test.exs
  test/archethic/beacon_chain_test.exs
  test/archethic/db/embedded_impl_test.exs
  test/archethic/self_repair/scheduler_test.exs
  test/support/template.ex
Labels: feature, beacon chain, DB, self repair

#613 Fix hash function in SC library
  lib/archethic/contracts/interpreter.ex
  lib/archethic/contracts/interpreter/library.ex
  test/archethic/contracts/interpreter_test.exs
Labels: bug, smart contracts

#614 Fix datetime interval sc
  lib/archethic/contracts/worker.ex
Labels: bug, smart contracts

#620 Wrap secrets to blind private keys
  lib/archethic/crypto/keystore/node/software_impl.ex
  lib/archethic/crypto/keystore/shared_secrets/software_impl.ex
  test/archethic/crypto/keystore/shared_secrets/software_impl_test.exs
Labels: feature, crypto

#633 Fix Transaction subscriber returning wrong number of max confirmations
  lib/archethic_web/transaction_subscriber.ex
Labels: bug, API

#632 Add selfsigned certificate by default in prod config
  config/prod.exs
  lib/archethic_web/domain.ex
Labels: networking

#626 Origin transaction should verify existing public key#583
  lib/archethic/mining/pending_transaction_validation.ex
  lib/archethic/shared_secrets.ex
  lib/archethic_web/controllers/api/origin_key_controller.ex
  test/archethic/mining/pending_transaction_validation_test.exs
  test/archethic/shared_secrets_test.exs
  test/archethic_web/controllers/api/origin_key_controller_test.exs
Labels: bug, API, origin

#634 Fix last oracle chain loaded in mem table loader init
  lib/archethic/oracle_chain/mem_table_loader.ex
Labels: bug, bootstrap

#612 Add timestamp in sc
  lib/archethic/contracts/contract/conditions.ex
  lib/archethic/contracts/contract/constants.ex
  lib/archethic/contracts/interpreter.ex
  lib/archethic/contracts/interpreter/library.ex
  lib/archethic/contracts/worker.ex
  test/archethic/contracts/worker_test.exs
Labels: feature, smart contracts

#638 Upgrade js dependencies to fix vulnerabilities
  .tool-versions
  assets/package-lock.json
  assets/package.json
  assets/webpack.config.js
  config/dev.exs
Labels: dependencies

#649 Ensure download of self repair on other locally available nodes
  lib/archethic/self_repair/sync.ex
Labels: bug, self repair

#648 Calculate size fees based on transaction data instead of all transaction fields
  lib/archethic/bootstrap/network_init.ex
  lib/archethic/db/embedded_impl/encoding.ex
  lib/archethic/mining/fee.ex
  lib/archethic/mining/validation_context.ex
  lib/archethic/transaction_chain/transaction.ex
  lib/archethic/transaction_chain/transaction/cross_validation_stamp.ex
  lib/archethic/transaction_chain/transaction/validation_stamp.ex
  test/archethic/mining/fee_test.exs
  test/archethic/mining/validation_context_test.exs
  test/archethic/p2p/messages_test.exs
  test/archethic/replication_test.exs
  test/archethic/transaction_chain/transaction/cross_validation_stamp_test.exs
  test/archethic/transaction_chain/transaction/validation_stamp_test.exs
  test/archethic_web/controllers/api/transaction_controller_test.exs
  test/support/template.ex
  test/support/transaction_factory.ex
Labels: feature, Fee

#655 Cancel oracle polling timer when a rescheduling is started
  lib/archethic/oracle_chain/scheduler.ex
Labels: bug, oracle chain, core team

#656 Prevent update of node availability history during node update
  lib/archethic/p2p/mem_table.ex
Labels: bug, P2P, core team

#657 Stop self repair if transaction's processing failed
  lib/archethic/self_repair/sync.ex
Labels: bug, self repair, core team

#654 Upgrade elixir to 1.14.1 and otp to 24.3.4.6
  .github/workflows/ci.yml
  .tool-versions
  Dockerfile
  README.md
  lib/archethic/shared_secrets.ex
  lib/archethic_web/templates/explorer/index.html.leex
  scripts/install.sh
Labels: dependencies, external contribution

#653 Fix beacon date projections
  lib/archethic/beacon_chain/slot_timer.ex
  lib/archethic/beacon_chain/subset.ex
  lib/archethic/beacon_chain/summary_timer.ex
  lib/archethic/mining/distributed_workflow.ex
  lib/archethic/mining/pending_transaction_validation.ex
  lib/archethic/mining/standalone_workflow.ex
  lib/archethic/oracle_chain.ex
  lib/archethic/oracle_chain/scheduler.ex
  lib/archethic/reward.ex
  lib/archethic/reward/scheduler.ex
  lib/archethic/shared_secrets.ex
  lib/archethic/shared_secrets/node_renewal_scheduler.ex
  lib/archethic/utils.ex
  test/archethic/crypto/keystore/shared_secrets/software_impl_test.exs
Labels: beacon chain, core team

#660 Prevent existing beacon aggregate to be rewritten on migrate.sh execu…
  lib/mix/tasks/migrate.ex
Labels: DB, core team
