Repository archethic-foundation/archethic-node, pull requests merged in 2022-07, with the labels that each got.

#395 Detection of unresponsive trigger node Contd of 376
  config/dev.exs
  config/prod.exs
  config/test.exs
  lib/archethic/contracts/worker.ex
  lib/archethic/mining.ex
  lib/archethic/oracle_chain/scheduler.ex
  lib/archethic/shared_secrets/node_renewal.ex
  lib/archethic/shared_secrets/node_renewal_scheduler.ex
  lib/archethic/utils/detect_node_responsiveness.ex
  test/archethic/utils/detect_node_responsiveness_test.exs
Labels: feature, P2P

#428 DB crashes when transaction chain not found #398
  lib/archethic/db/embedded_impl/chain_reader.ex
  test/archethic/db/embedded_impl_test.exs
Labels: bug, DB, API, core team

#435 Update client connection when receive a request
  lib/archethic/p2p/client.ex
  lib/archethic/p2p/client/connection.ex
  lib/archethic/p2p/client/default_impl.ex
  lib/archethic/p2p/listener_protocol/broadway_pipeline.ex
Labels: bug, P2P, networking

#441 Improve P2P
  config/config.exs
  lib/archethic/mining/distributed_workflow.ex
  lib/archethic/mining/transaction_context.ex
  lib/archethic/p2p.ex
  lib/archethic/p2p/client/connection.ex
  lib/archethic/p2p/message.ex
  lib/archethic/replication.ex
  lib/archethic/self_repair/sync.ex
  lib/archethic/transaction_chain.ex
  test/archethic/bootstrap/network_init_test.exs
  test/archethic/bootstrap/sync_test.exs
  test/archethic/bootstrap_test.exs
  test/archethic/p2p/messages_test.exs
  test/archethic/replication/transaction_context_test.exs
  test/archethic/replication_test.exs
  test/archethic/self_repair/sync/transaction_handler_test.exs
  test/archethic/self_repair/sync_test.exs
  test/archethic/transaction_chain_test.exs
  test/archethic_test.exs
  test/archethic_web/graphql_schema_test.exs
Labels: bug, P2P, mining

#454 Set message processing asynchronous
  lib/archethic/p2p/listener_protocol/broadway_pipeline.ex
Labels: bug, P2P

#453 Replicate only missing transactions #443
  lib/archethic.ex
  lib/archethic/p2p/message.ex
  lib/archethic/replication/transaction_context.ex
  lib/archethic/transaction_chain.ex
  test/archethic/beacon_chain/subset_test.exs
  test/archethic/bootstrap/network_init_test.exs
  test/archethic/bootstrap_test.exs
  test/archethic/replication/transaction_context_test.exs
  test/archethic/replication_test.exs
  test/archethic/self_repair/sync/transaction_handler_test.exs
  test/archethic/self_repair/sync_test.exs
  test/archethic_test.exs
  test/archethic_web/graphql_schema_test.exs
Labels: bug, P2P, transaction, DB, testing

#464 Update database folder for prod mode
  config/prod.exs
  lib/archethic/utils.ex
Labels: bug, DB, breaking change

#402 Mint mining rewards token on self repair
  config/config.exs
  config/dev.exs
  config/prod.exs
  config/test.exs
  lib/archethic/db.ex
  lib/archethic/db/embedded_impl.ex
  lib/archethic/db/embedded_impl/stats_info.ex
  lib/archethic/mining/pending_transaction_validation.ex
  lib/archethic/reward.ex
  lib/archethic/reward/scheduler.ex
  lib/archethic/reward/supervisor.ex
  lib/archethic/self_repair/sync.ex
  test/archethic/bootstrap/network_init_test.exs
  test/archethic/db/embedded_impl_test.exs
  test/archethic/mining/pending_transaction_validation_test.exs
  test/archethic/reward/scheduler_test.exs
  test/archethic/reward_test.exs
  test/archethic/self_repair/sync_test.exs
Labels: feature, self repair, Fee

#403 Transform miner reward token to UCO #381
  config/test.exs
  lib/archethic/account/mem_tables_loader.ex
  lib/archethic/replication.ex
  lib/archethic/reward.ex
  lib/archethic/reward/mem_tables/reward_tokens.ex
  lib/archethic/reward/mem_tables_loader.ex
  lib/archethic/reward/supervisor.ex
  lib/archethic_web/controllers/api/schema/transaction_data.ex
  test/archethic/account/mem_tables_loader_test.exs
  test/archethic/account_test.exs
  test/archethic/bootstrap/network_init_test.exs
  test/archethic/bootstrap/sync_test.exs
  test/archethic/bootstrap_test.exs
  test/archethic/reward/mem_tables_loader_test.exs
  test/archethic/transaction_chain/transaction/validation_stamp/ledger_operations/transaction_movement_test.exs
  test/archethic/transaction_chain/transaction_data/ledger/token/transfer_test.exs
  test/archethic_web/controllers/api/transaction_payload_test.exs
Labels: bug, feature, mining, core team
