Repository archethic-foundation/archethic-node, pull requests merged in 2023-05, with the labels that each got.

#1007 Smart Contracts: Catch the invalid elixir syntax error in smart contracts
  lib/archethic/contracts/interpreter.ex
  test/archethic/contracts/interpreter_test.exs
Labels: bug, smart contracts

#1008 Smart Contracts: Improve logs of contracts that do not produce a next transaction
  lib/archethic/contracts/worker.ex
Labels: bug, smart contracts

#1014 Smart Contracts: Cast to atom the transaction.type
  lib/archethic/contracts/contract/constants.ex
  test/archethic/contracts/contract/constants_test.exs
Labels: bug, smart contracts

#1015 Smart Contracts: Do not schedule an interval tick if there is a datetime tick at the same time
  lib/archethic/contracts/worker.ex
Labels: bug, smart contracts

#1013 Smart Contracts: Refactor the next_tx changes detection to be able to clear the code
  lib/archethic/contracts/interpreter.ex
  lib/archethic/contracts/interpreter/action_interpreter.ex
  lib/archethic/contracts/interpreter/legacy.ex
  test/archethic/contracts/interpreter/action_interpreter_test.exs
  test/archethic/contracts/interpreter/library/common/chain_test.exs
  test/archethic/contracts/interpreter/library/common/crypto_test.exs
  test/archethic/contracts/interpreter/library/common/json_test.exs
  test/archethic/contracts/interpreter/library/common/list_test.exs
  test/archethic/contracts/interpreter/library/common/map_test.exs
  test/archethic/contracts/interpreter/library/common/regex_test.exs
  test/archethic/contracts/interpreter/library/common/string_test.exs
  test/archethic/contracts/interpreter/library/common/time_test.exs
  test/archethic/contracts/interpreter/library/common/token_test.exs
  test/archethic/contracts/interpreter/library/contract_test.exs
  test/support/contract_factory.ex
  test/support/template.ex
  test/support/transaction_factory.ex
Labels: bug, smart contracts

#1018 Fix the CoinMarketCap provider
  lib/archethic/oracle_chain/services/uco_price/providers/coin_marketcap.ex
Labels: bug, oracle chain

#1023 Handle p2p update from self repair in network view
  lib/archethic/self_repair/network_view.ex
Labels: bug, self repair

#1024 UCO price provider: Handle the 2 UI of CoinMarketCap
  lib/archethic/oracle_chain/services/uco_price/providers/coin_marketcap.ex
Labels: bug, oracle chain

#1025 Up version 1.1.0-rc1
  mix.exs
  rel/appups/archethic/1.0.8-rc1_to_1.1.0-rc1.appup
Labels: release

#1028 Replicate complete transaction, not only in P2P
  lib/archethic/bootstrap/transaction_handler.ex
  lib/archethic/networking/scheduler.ex
  test/archethic/bootstrap/transaction_handler_test.exs
  test/archethic/bootstrap_test.exs
Labels: bug, bootstrap

#1029 Fix slot on summary time to be deleted
  lib/archethic/beacon_chain/subset/summary_cache.ex
  test/archethic/beacon_chain/subset/summary_cache_test.exs
Labels: bug, beacon chain

#1037 Hypergeometric distribution executable runtime
  lib/archethic/election/hypergeometric_distribution.ex
Labels: system

#1043 Fill 2 previous daily nonce on boostrap
  lib/archethic/crypto/keystore/shared_secrets/software_impl.ex
Labels: bug, bootstrap

#1020 Smart Contracts: determinist Time.now()
  lib/archethic/contracts/interpreter.ex
  lib/archethic/contracts/interpreter/action_interpreter.ex
  lib/archethic/contracts/interpreter/library/common/time.ex
  lib/archethic/transaction_chain/transaction/validation_stamp.ex
  lib/archethic/utils.ex
  lib/archethic_web/controllers/api/transaction_controller.ex
  test/archethic/contracts/interpreter/library/common/time_test.exs
  test/archethic/contracts/interpreter_test.exs
  test/archethic/utils_test.exs
Labels: feature, smart contracts

#1035 Add resovled uco and token movements in the contract's constants
  lib/archethic/contracts/contract/constants.ex
  test/archethic/contracts/contract/constants_test.exs
  test/support/transaction_factory.ex
Labels: smart contracts, enhancements

#999 Smart Contracts: Optional inherit condition block
  lib/archethic/contracts.ex
  lib/archethic/contracts/interpreter.ex
  test/archethic/contracts/interpreter_test.exs
  test/archethic/contracts/worker_test.exs
Labels: smart contracts

#1048 Fix copy clipboard button
  assets/js/app.js
  lib/archethic_web/templates/explorer/transaction_details.html.heex
  priv/static/cache_manifest.json
Labels: bug, UI

#1040 Register an error during mining with invalid smart contract calls
  lib/archethic/contracts.ex
  lib/archethic/contracts/contract.ex
  lib/archethic/contracts/interpreter.ex
  lib/archethic/mining/smart_contract_validation.ex
  lib/archethic/mining/validation_context.ex
  lib/archethic/p2p.ex
  lib/archethic/p2p/message.ex
  lib/archethic/p2p/message/get_contract_calls.ex
  lib/archethic/p2p/message/message_id.ex
  lib/archethic/p2p/message/smart_contract_call_validation.ex
  lib/archethic/p2p/message/validate_smart_contract_call.ex
  lib/archethic/transaction_chain.ex
  lib/archethic/transaction_chain/transaction/validation_stamp.ex
  test/archethic/mining/smart_contract_validation_test.exs
  test/archethic/p2p/message/get_contract_calls_test.exs
  test/archethic/p2p/message/smart_contract_call_validation_test.exs
  test/archethic/p2p/message/validate_smart_contract_call_test.exs
  test/archethic/p2p_test.exs
Labels: feature, smart contracts
