Repository archethic-foundation/archethic-node, pull requests merged in 2023-01, with the labels that each got.

#747 Incorporates new Aeweb developments
  lib/archethic_web/controllers/aeweb_root_controller.ex
  lib/archethic_web/controllers/api/web_hosting_controller.ex
  lib/archethic_web/controllers/api/web_hosting_controller/directory_listing.ex
  lib/archethic_web/controllers/api/web_hosting_controller/resources.ex
  lib/archethic_web/controllers/explorer_root_controller.ex
  test/archethic_web/controllers/api/web_hosting_controller_test.exs
Labels: API, core team, breaking change

#805 Provide an API to return a transaction chain in reverse order
  lib/archethic.ex
  lib/archethic/db.ex
  lib/archethic/transaction_chain.ex
  lib/archethic_web/graphql_schema.ex
  lib/archethic_web/graphql_schema/resolver.ex
  lib/archethic_web/graphql_schema/sort_order_enum.ex
  mix.lock
  test/archethic_web/graphql_schema_test.exs
Labels: feature, API, core team

#736 Add transaction's content verification
  lib/archethic/mining/pending_transaction_validation.ex
  priv/json-schemas/aeweb.json
  test/archethic/mining/pending_transaction_validation_test.exs
Labels: feature, core team, web hosting

#744 AEWeb cache (files and transactions)
  config/config.exs
  lib/archethic/metrics/parser.ex
  lib/archethic/telemetry.ex
  lib/archethic_cache/lru.ex
  lib/archethic_cache/lru_disk.ex
  lib/archethic_web/controllers/aeweb_root_controller.ex
  lib/archethic_web/controllers/api/web_hosting_controller.ex
  lib/archethic_web/controllers/api/web_hosting_controller/directory_listing.ex
  lib/archethic_web/controllers/api/web_hosting_controller/reference_transaction.ex
  lib/archethic_web/controllers/api/web_hosting_controller/resources.ex
  lib/archethic_web/domain.ex
  lib/archethic_web/supervisor.ex
  test/archethic_cache/lru_disk_test.exs
  test/archethic_cache/lru_test.exs
  test/archethic_web/controllers/api/web_hosting_controller_test.exs
Labels: core team, web hosting, enhancements

#746 add new Api to get beacon chain aggregate
  lib/archethic/beacon_chain.ex
  lib/archethic_web/graphql_schema.ex
  lib/archethic_web/graphql_schema/beacon_chain_summary_type.ex
  lib/archethic_web/graphql_schema/resolver.ex
  lib/archethic_web/graphql_schema/transaction_type.ex
  mix.lock
  test/archethic_web/graphql_schema_test.exs
Labels: feature, beacon chain, API, core team

#821 Fix replication chain ingestion
  lib/archethic/db.ex
  lib/archethic/db/embedded_impl.ex
  lib/archethic/replication.ex
  lib/archethic/transaction_chain.ex
  test/archethic/bootstrap_test.exs
  test/archethic/db/embedded_impl_test.exs
  test/archethic/mining/pending_transaction_validation_test.exs
  test/archethic/replication_test.exs
  test/support/template.ex
Labels: bug, replication

#820 Fix truncate on nil value
  lib/archethic/beacon_chain/summary_aggregate.ex
Labels: bug, beacon chain

#810 Forwarding random port with upnpc #700
  config/config.exs
  config/test.exs
  lib/archethic/networking/port_forwarding.ex
Labels: networking

#808 Add getGenesisAddress query to graphql
  lib/archethic.ex
  lib/archethic_web/graphql_schema.ex
  lib/archethic_web/graphql_schema/resolver.ex
  test/archethic_web/graphql_schema_test.exs
Labels: API, external contribution

#791 Add New Types of Transaction #726
  lib/archethic/mining/pending_transaction_validation.ex
  lib/archethic/transaction_chain/transaction.ex
  lib/archethic_web/controllers/api/schema/ownership.ex
  lib/archethic_web/controllers/api/types/transaction_type.ex
  mix.lock
  test/archethic/mining/pending_transaction_validation_test.exs
Labels: transaction, core team, quality

#840 Fix submit button on the settings page
  lib/archethic_web/live/settings_live.ex
Labels: bug, UI

#845 control number of decimals in prices returned by oracle
  config/config.exs
  lib/archethic/cldr.ex
  lib/archethic/oracle_chain/services/uco_price.ex
  mix.exs
  mix.lock
  test/archethic/oracle_chain/services/uco_price_test.exs
Labels: bug, oracle chain, core team

#775 use plug attack to add a throttle for api to handle ddos attacks
  config/dev.exs
  config/prod.exs
  config/test.exs
  lib/archethic_web/aeweb_router.ex
  lib/archethic_web/endpoint.ex
  lib/archethic_web/explorer_router.ex
  lib/archethic_web/plugs/plug_throttle_by_ip_and_path.ex
  lib/archethic_web/plugs/plug_throttle_by_ip_high.ex
  lib/archethic_web/plugs/plug_throttle_by_ip_low.ex
  lib/archethic_web/supervisor.ex
  mix.exs
  mix.lock
  test/archethic_web/plugs/plug_throttle_by_ip_and_path_test.exs
  test/archethic_web/plugs/plug_throttle_by_ip_low_test.exs
  test/test_helper.exs
Labels: API, core team

#829 DB: Nested fields behaviour change
  lib/archethic/db/embedded_impl/chain_reader.ex
  test/archethic/db/embedded_impl_test.exs
Labels: bug, DB

#831 Fix SC workers initialization
  lib/archethic/contracts/loader.ex
  lib/archethic/contracts/worker.ex
  test/archethic/contracts/worker_test.exs
Labels: bug, smart contracts

#807 Display the size when listing the files of a directory
  lib/archethic_web/controllers/api/web_hosting_controller/directory_listing.ex
  lib/archethic_web/templates/dir_listing/index.html.heex
  test/archethic_web/controllers/api/web_hosting_controller_test.exs
Labels: feature, core team, external contribution, web hosting

#851 fix previous on first page and next on last page of pagination component
  lib/archethic_web/components/pagination.ex
  lib/archethic_web/live/chains/beacon_live.ex
  lib/archethic_web/live/chains/node_shared_secrets_live.ex
  lib/archethic_web/live/chains/oracle_live.ex
  lib/archethic_web/live/chains/reward_live.ex
Labels: bug, good first issue, UI, core team

#857 Forward http port at application startup
  lib/archethic/application.ex
  lib/archethic_web/supervisor.ex
Labels: bug

#819 Add get first address in smart contract library #740
  lib/archethic/contracts/interpreter/condition.ex
  lib/archethic/contracts/interpreter/library.ex
  lib/archethic/contracts/interpreter/utils.ex
  lib/archethic/p2p/message.ex
  lib/archethic/p2p/message/first_transaction_address.ex
  lib/archethic/p2p/message/get_first_transaction_address.ex
  lib/archethic/p2p/message/message_id.ex
  lib/archethic/transaction_chain.ex
  test/archethic/contracts/interpreter/action_test.exs
  test/archethic/contracts/interpreter/condition_test.exs
  test/archethic/contracts/interpreter/library_test.exs
  test/archethic/p2p/message/first_transaction_address_test.exs
  test/archethic/p2p/message/get_first_transaction_address_test.exs
  test/archethic/transaction_chain_test.exs
Labels: smart contracts

#822 SC: add get_calls/0 action
  lib/archethic/contracts/interpreter/action.ex
  lib/archethic/contracts/interpreter/library.ex
  lib/archethic/contracts/interpreter/transaction_statements.ex
  lib/archethic/contracts/interpreter/utils.ex
  lib/archethic/contracts/loader.ex
  lib/archethic/db.ex
  lib/archethic/db/embedded_impl.ex
  lib/archethic/db/embedded_impl/chain_reader.ex
  lib/archethic/transaction_chain.ex
  test/archethic/bootstrap_test.exs
  test/archethic/contracts/interpreter/action_test.exs
  test/archethic/contracts/interpreter/library_test.exs
  test/archethic/contracts/worker_test.exs
  test/archethic/crypto/keystore/shared_secrets/software_impl_test.exs
  test/archethic/mining/pending_transaction_validation_test.exs
  test/archethic/oracle_chain/scheduler_test.exs
  test/archethic/replication_test.exs
  test/archethic/self_repair/self_repair_test.exs
  test/archethic_web/live/rewards_live_test.exs
  test/support/template.ex
Labels: feature, smart contracts

#846 SC: change default contract type
  lib/archethic/contracts/interpreter/transaction_statements.ex
  lib/archethic/contracts/worker.ex
Labels: bug, smart contracts

#853 Reward month occurence should be dynamic
  lib/archethic/reward.ex
  lib/archethic/utils.ex
Labels: bug, core team, rewards

#864 SC: Worker should not be executed while replicating a transaction from self repair#852
  lib/archethic/contracts.ex
  lib/archethic/contracts/loader.ex
  lib/archethic/replication.ex
  test/archethic/bootstrap_test.exs
Labels: bug, smart contracts
