Repository archethic-foundation/archethic-node, pull requests merged in 2023-10, with the labels that each got.

#1281 SC new Chain functions
  lib/archethic/contracts/interpreter/library/common/chain.ex
  lib/archethic/contracts/interpreter/library/common/chain_impl.ex
  test/archethic/contracts/interpreter/library/common/chain_test.exs
Labels: feature, smart contracts

#994 Smart Contracts playbooks rework
  lib/archethic/contracts.ex
  lib/archethic/transaction_chain/transaction/data/recipient.ex
  lib/archethic/utils/regression.ex
  lib/archethic/utils/regression/api.ex
  lib/archethic/utils/regression/benchmarks/end_to_end_validation.ex
  lib/archethic/utils/regression/playbook.ex
  lib/archethic/utils/regression/playbooks/smart_contract.ex
  lib/archethic/utils/regression/playbooks/smart_contract/counter.ex
  lib/archethic/utils/regression/playbooks/smart_contract/legacy.ex
  lib/archethic/utils/regression/playbooks/smart_contract/uco_ath.ex
  lib/archethic/utils/regression/playbooks/uco.ex
  test/archethic/contracts/interpreter/action_interpreter_test.exs
Labels: smart contracts, testing

#1291 Add new Chain functions get_last_transaction and get_last_address
  lib/archethic/contracts/interpreter/library/common/chain.ex
  lib/archethic/contracts/interpreter/library/common/chain_impl.ex
  test/archethic/contracts/interpreter/library/common/chain_test.exs
Labels: feature, smart contracts

#1295 Recipient fees calculation on estimate transaction fee
  lib/archethic_web/api/jsonrpc/methods/estimate_transaction_fee.ex
Labels: bug, API, Fee

#1298 Catch the exit of the load_missed_transactions function
  lib/archethic/self_repair.ex
Labels: bug, bootstrap

#1300 Fix WebUtils.to_float precision issue and rename it to from_bigint
  lib/archethic_web/explorer/templates/explorer/chain.html.heex
  lib/archethic_web/explorer/templates/explorer/transaction_details.html.heex
  lib/archethic_web/web_utils.ex
  test/archethic_web/web_utils_test.exs
Labels: bug

#1302 Start the metrics poller once the bootstrap is done
  lib/archethic/metrics/poller.ex
Labels: enhancements

#1307 Fix GraphQL API to get the code's version
  lib/archethic_web/api/graphql/schema/resolver.ex
Labels: bug, API
