Repository archethic-foundation/archethic-node, pull requests merged in 2023-09, with the labels that each got.

#1233 Smart Contracts: Limit public function execution to 500ms
  lib/archethic/contracts.ex
  lib/archethic/contracts/interpreter.ex
  lib/archethic/contracts/interpreter/function_interpreter.ex
  lib/archethic_web/api/jsonrpc/error.ex
  lib/archethic_web/api/jsonrpc/methods/call_contract_function.ex
  test/archethic/contracts_test.exs
Labels: smart contracts

#1237 HydratingCache now properly handles a timeout of the hydrate function
  lib/archethic/oracle_chain/services/hydrating_cache.ex
  test/archethic/oracle_chain/services/hydrating_cache_test.exs
Labels: bug

#1239 Smart Contracts: limit Http module to 1 call per SC
  lib/archethic/contracts/interpreter/library/common/http_impl.ex
  test/archethic/contracts/interpreter/library/common/http_impl_test.exs
Labels: smart contracts

#1097 Transform the LRU cache to use ETS with pointer to head/tail
  lib/archethic_cache/lru.ex
  test/archethic/db/embedded_impl/chain_index_test.exs
Labels: enhancements

#1248 Add Contract.call_function in SC language
  lib/archethic/contracts.ex
  lib/archethic/contracts/interpreter/legacy/utils_interpreter.ex
  lib/archethic/contracts/interpreter/library/common/contract.ex
  test/archethic/contracts/interpreter/library/common/contract_test.exs
Labels: feature, smart contracts

#1250 Smart Contracts: new syntax for condition block
  lib/archethic/contracts/interpreter.ex
  lib/archethic/contracts/interpreter/condition_interpreter.ex
  test/archethic/contracts/interpreter/condition_interpreter_test.exs
  test/archethic/contracts/interpreter/condition_validator_test.exs
  test/archethic/contracts/interpreter/library/common/code_test.exs
  test/archethic/contracts/interpreter/library/common/time_test.exs
  test/archethic/contracts/interpreter_test.exs
  test/archethic/contracts/worker_test.exs
  test/archethic/contracts_test.exs
  test/archethic/p2p/message/validate_smart_contract_call_test.exs
  test/archethic_web/api/jsonrpc/methods/call_contract_function_test.exs
  test/archethic_web/api/jsonrpc/methods/simulate_contract_execution_test.exs
  test/support/contract_factory.ex
Labels: feature, smart contracts, AEIP

#1253 Add function Contract.clear_ownerships in SC
  lib/archethic/contracts/interpreter/library/common/contract.ex
  test/archethic/contracts/interpreter/library/common/contract_test.exs
  test/support/transaction_factory.ex
Labels: feature, smart contracts

#1261 Smart Contracts: Use atoms instead of strings for scope_hierarchy & context_list
  lib/archethic/contracts/interpreter/scope.ex
  test/archethic/contracts/interpreter/scope_test.exs
Labels: smart contracts, enhancements

#1265 Smart Contracts: Contract.call_function/3 mockable
  lib/archethic/contracts/interpreter/library/common/contract.ex
  lib/archethic/contracts/interpreter/library/common/contract_impl.ex
Labels: smart contracts, enhancements

#1267 Contract execution return explicit errors instead of contract_failure
  lib/archethic/contracts.ex
  lib/archethic/contracts/interpreter.ex
  lib/archethic/contracts/interpreter/common_interpreter.ex
  lib/archethic/contracts/interpreter/library/common/http_impl.ex
  lib/archethic_web/api/jsonrpc/error.ex
  lib/archethic_web/api/jsonrpc/methods/simulate_contract_execution.ex
  lib/archethic_web/api/rest/controllers/transaction_controller.ex
  test/archethic/contracts/interpreter_test.exs
  test/archethic_web/api/jsonrpc/error_test.exs
Labels: smart contracts, enhancements

#1273 Fix the ETS table before iterating on it to avoid 'invalid continuation'
  lib/archethic/beacon_chain/subset/summary_cache.ex
Labels: bug

#1277 Fix arithmetic with float
  lib/archethic/contracts/interpreter/ast_helper.ex
  test/archethic/contracts/interpreter/function_interpreter_test.exs
Labels: smart contracts, enhancements

#1280 Add new SC function Crypto.hmac/2
  lib/archethic/contracts/interpreter/library/common/crypto.ex
  test/archethic/contracts/interpreter/library/common/crypto_test.exs
Labels: feature, smart contracts, crypto

#1278 Add SC Math module
  lib/archethic/contracts/interpreter/library/common/math.ex
  test/archethic/contracts/interpreter/library/common/math_test.exs
Labels: feature, smart contracts
