Repository archethic-foundation/archethic-node, pull requests merged in 2023-03, with the labels that each got.

#939 Remove warnings about scope not used
  lib/archethic/contracts.ex
  lib/archethic/contracts/interpreter/legacy.ex
  lib/archethic/contracts/interpreter/legacy/action_interpreter.ex
  lib/archethic/contracts/interpreter/legacy/utils_interpreter.ex
  test/archethic/contracts/interpreter/legacy/action_interpreter_test.exs
  test/archethic/contracts/interpreter/legacy_test.exs
  test/archethic/contracts_test.exs
Labels: enhancements

#924 Fixing ci scripts and linking between reaching minimal amount of approvals and CI
  Dockerfile
  lib/archethic/governance/code.ex
  lib/archethic/governance/code/cicd/docker/cicd.ex
  mix.lock
  scripts/governance/mk-code-proposal.sh
  scripts/governance/proposal_ci_job.sh
Labels: core team, Governance

#854 Pr 824 integrate hydrating cache oracle chain
  config/config.exs
  config/test.exs
  lib/archethic/oracle_chain/services.ex
  lib/archethic/oracle_chain/services/cache_supervisor.ex
  lib/archethic/oracle_chain/services/hydrating_cache.ex
  lib/archethic/oracle_chain/services/impl.ex
  lib/archethic/oracle_chain/services/provider_cache_supervisor.ex
  lib/archethic/oracle_chain/services/uco_price.ex
  lib/archethic/oracle_chain/supervisor.ex
  test/archethic/oracle_chain/scheduler_test.exs
  test/archethic/oracle_chain/services/hydrating_cache_test.exs
  test/archethic/oracle_chain/services/uco_price_test.exs
  test/archethic/oracle_chain/services_test.exs
  test/archethic/oracle_chain_test.exs
  test/archethic/reward_test.exs
  test/test_helper.exs
Labels: feature, oracle chain, core team

#802 Pr 57 validate smart contract calls
  lib/archethic.ex
  lib/archethic/contracts.ex
  lib/archethic/contracts/interpreter.ex
  lib/archethic/contracts/interpreter/condition_validator.ex
  lib/archethic/contracts/interpreter/legacy/condition_interpreter.ex
  lib/archethic/contracts/worker.ex
  lib/archethic_web/controllers/api/transaction_controller.ex
  lib/archethic_web/explorer_router.ex
  test/archethic/contracts/interpreter_test.exs
  test/archethic/contracts/worker_test.exs
  test/archethic/contracts_test.exs
  test/archethic/transaction_chain/transaction_test.exs
  test/archethic_web/controllers/api/transaction_controller_test.exs
Labels: smart contracts, transaction, API, core team, enhancements
