Repository archethic-foundation/archethic-node, pull requests merged in 2023-06, with the labels that each got.

#1064 Fx fetch_contract_calls conflict resolver
  lib/archethic/transaction_chain.ex
  test/archethic/transaction_chain_test.exs
Labels: bug

#1067 Fix Subset's code_change
  lib/archethic/beacon_chain/subset.ex
Labels: bug

#1057 Refactor TransactionChain module
  lib/archethic.ex
  lib/archethic/beacon_chain.ex
  lib/archethic/bootstrap.ex
  lib/archethic/contracts/interpreter/legacy/library.ex
  lib/archethic/contracts/worker.ex
  lib/archethic/crypto.ex
  lib/archethic/db.ex
  lib/archethic/db/embedded_impl.ex
  lib/archethic/db/embedded_impl/chain_index.ex
  lib/archethic/db/embedded_impl/chain_reader.ex
  lib/archethic/governance.ex
  lib/archethic/governance/code.ex
  lib/archethic/mining/pending_transaction_validation.ex
  lib/archethic/mining/transaction_context.ex
  lib/archethic/oracle_chain/mem_table_loader.ex
  lib/archethic/oracle_chain/scheduler.ex
  lib/archethic/p2p/message/get_transaction_chain.ex
  lib/archethic/p2p/message/get_transaction_chain_length.ex
  lib/archethic/p2p/message/validate_smart_contract_call.ex
  lib/archethic/replication.ex
  lib/archethic/replication/transaction_context.ex
  lib/archethic/self_repair.ex
  lib/archethic/self_repair/network_chain.ex
  lib/archethic/self_repair/notifier.ex
  lib/archethic/self_repair/sync.ex
  lib/archethic/self_repair/sync/transaction_handler.ex
  lib/archethic/transaction_chain.ex
  lib/archethic/transaction_chain/mem_tables/pending_ledger.ex
  lib/archethic/transaction_chain/transaction_summary.ex
  lib/archethic/utils.ex
  lib/archethic_web/controllers/api/origin_key_controller.ex
  lib/archethic_web/controllers/api/transaction_controller.ex
  lib/archethic_web/controllers/api/web_hosting_controller.ex
  lib/archethic_web/faucet_rate_limiter.ex
  lib/archethic_web/graphql_schema/resolver.ex
  lib/archethic_web/live/chains/oracle_live.ex
  lib/archethic_web/live/transaction_details_live.ex
  test/archethic/bootstrap_test.exs
  test/archethic/mining/pending_transaction_validation_test.exs
  test/archethic/oracle_chain/scheduler_test.exs
  test/archethic/self_repair/notifier_test.exs
  test/archethic/transaction_chain/mem_tables_loader_test.exs
  test/archethic/transaction_chain_test.exs
  test/archethic_web/graphql_schema_test.exs
  test/support/template.ex
Labels: quality, enhancements

#1080 Out of sync threshold 15days
  config/prod.exs
Labels: bug

#1084 Improve fetch summaries timeout
  lib/archethic/beacon_chain.ex
Labels: bug, beacon chain

#1093 Fix bootsrap p2p view
  lib/archethic/bootstrap.ex
  lib/archethic/bootstrap/sync.ex
  lib/archethic/bootstrap/transaction_handler.ex
  lib/archethic/p2p.ex
  lib/archethic/p2p/mem_table_loader.ex
  lib/archethic/p2p/message/bootstrapping_nodes.ex
  lib/archethic/p2p/message/get_bootstraping_nodes.ex
  lib/archethic/p2p/message/list_nodes.ex
  lib/archethic/self_repair.ex
  lib/archethic/self_repair/network_chain.ex
  lib/archethic/self_repair/scheduler.ex
  lib/archethic/self_repair/sync.ex
  test/archethic/bootstrap/sync_test.exs
  test/archethic/bootstrap/transaction_handler_test.exs
  test/archethic/bootstrap_test.exs
  test/archethic/p2p/messages_test.exs
  test/archethic/self_repair/sync_test.exs
Labels: bug, bootstrap

#1107 Smart Contracts: datetime must be rounded to the minute
  lib/archethic/contracts/interpreter/action_interpreter.ex
  test/archethic/contracts/interpreter/action_interpreter_test.exs
  test/archethic/contracts/interpreter/library/common/time_test.exs
  test/archethic/contracts/interpreter_test.exs
Labels: smart contracts

#1096 Smart Contracts: String.to_hex/1, String.to_uppercase/1, String.to_lowercase/1
  lib/archethic/contracts/interpreter/library/common/string.ex
  test/archethic/contracts/interpreter/library/common/string_test.exs
Labels: smart contracts

#1108 Increase add mining context timeout to max_timeout
  lib/archethic/mining.ex
  lib/archethic/p2p/message/add_mining_context.ex
Labels: bug, mining

#1114 Add release/* branch in Github action ci
  .github/workflows/ci.yml
Labels: CI/CD

#1112 Add 0x hex format
  lib/archethic/contracts/interpreter.ex
  test/archethic/contracts/interpreter_test.exs
Labels: feature, smart contracts

#1116 Add appup transform to restart telemetry
  lib/release/restart_telemetry.ex
  rel/config.exs
Labels: release

#1111 Add miniupnpc to the Dockerfile
  Dockerfile
Labels: docker

#1120 Release 1.2.0
  config/dev.exs
  config/prod.exs
  config/test.exs
  lib/archethic/beacon_chain/subset.ex
  lib/archethic/beacon_chain/subset/summary_cache.ex
  lib/archethic/db/embedded_impl/chain_index.ex
  lib/archethic/db/embedded_impl/p2p_view.ex
  lib/archethic/p2p/client/connection.ex
  lib/archethic_web/plugs/plug_throttle_by_ip_and_path.ex
  lib/archethic_web/plugs/plug_throttle_by_ip_high.ex
  lib/archethic_web/plugs/plug_throttle_by_ip_low.ex
  mix.exs
  test/archethic/contracts_test.exs
  test/archethic/p2p/mem_table_test.exs
Labels: release

#1110 Bugfix : CSS assets are not available in the docker image
  Dockerfile
Labels: docker

#1121 Fix invalid parameter in quorum
  lib/archethic/p2p.ex
Labels: bug, P2P

#1125 Smart Contracts: check condition fields are valid
  lib/archethic/contracts/interpreter/condition_interpreter.ex
  test/archethic/contracts/interpreter/condition_interpreter_test.exs
Labels: smart contracts

#1124 Smart Contracts: Allow a contract without trigger:transaction to receive calls
  lib/archethic/p2p/message/validate_smart_contract_call.ex
  test/archethic/p2p/message/validate_smart_contract_call_test.exs
Labels: bug, smart contracts

#1129 Fix P2P availability_update on bootstrap
  lib/archethic/p2p.ex
  lib/archethic/p2p/mem_table.ex
  lib/archethic/p2p/mem_table_loader.ex
  test/archethic/p2p/mem_table_loader_test.exs
Labels: bug, P2P, bootstrap

#1119 AEWeb: Handle publicationStatus in hosting tx
  lib/archethic_web/controllers/api/web_hosting_controller.ex
  lib/archethic_web/controllers/api/web_hosting_controller/reference_transaction.ex
  priv/json-schemas/aeweb.json
  test/archethic_web/controllers/api/web_hosting_controller_test.exs
Labels: feature, web hosting

#1130 Change stats serialization
  lib/archethic/db/embedded_impl/stats_info.ex
  priv/migration_tasks/prod/1.2.2@stats_info.exs
Labels: bug, DB

#1127 Smart Contracts: Remove Contract.get_calls/0
  lib/archethic.ex
  lib/archethic/contracts.ex
  lib/archethic/contracts/contract/constants.ex
  lib/archethic/contracts/interpreter.ex
  lib/archethic/contracts/interpreter/action_interpreter.ex
  lib/archethic/contracts/interpreter/library/contract.ex
  lib/archethic/contracts/worker.ex
  lib/archethic/p2p/message.ex
  lib/archethic/p2p/message/get_contract_calls.ex
  lib/archethic/p2p/message/message_id.ex
  lib/archethic/p2p/message/validate_smart_contract_call.ex
  lib/archethic/transaction_chain.ex
  lib/archethic_web/controllers/api/transaction_controller.ex
  test/archethic/contracts/interpreter/action_interpreter_test.exs
  test/archethic/contracts/interpreter/library/common/time_test.exs
  test/archethic/contracts/interpreter/library/contract_test.exs
  test/archethic/contracts/interpreter_test.exs
  test/archethic/contracts/worker_test.exs
  test/archethic/contracts_test.exs
  test/archethic/p2p/message/get_contract_calls_test.exs
  test/archethic/p2p/message/validate_smart_contract_call_test.exs
  test/archethic/transaction_chain_test.exs
Labels: smart contracts

#1132 Cancel slot timer before creating a new one
  lib/archethic/beacon_chain/slot_timer.ex
Labels: bug, beacon chain

#1133 Reduce concurrency while downloading aggregate
  lib/archethic/beacon_chain.ex
  lib/archethic/self_repair/sync.ex
Labels: self repair, enhancements
