Repository archethic-foundation/archethic-node, pull requests merged in 2023-04, with the labels that each got.

#969 add AtVsn credo rule
  .credo.exs
  lib/archethic/oracle_chain/services/hydrating_cache.ex
  lib/checks/at_vsn.ex
Labels: quality

#977 Fix graphql beacon summary test
  test/archethic_web/graphql_schema_test.exs
Labels: bug, testing

#991 Use Mix.env at compile to time to change migration folders
  config/config.exs
  lib/mix/tasks/migrate.ex
Labels: bug, DB

#933 "Rolling" SelfRepair
  config/test.exs
  lib/archethic.ex
  lib/archethic/application.ex
  lib/archethic/bootstrap.ex
  lib/archethic/bootstrap/network_constraints.ex
  lib/archethic/bootstrap/sync.ex
  lib/archethic/mining/pending_transaction_validation.ex
  lib/archethic/networking/scheduler.ex
  lib/archethic/oracle_chain.ex
  lib/archethic/p2p.ex
  lib/archethic/p2p/message/error.ex
  lib/archethic/p2p/message/shard_repair.ex
  lib/archethic/p2p/message/start_mining.ex
  lib/archethic/replication.ex
  lib/archethic/reward.ex
  lib/archethic/self_repair.ex
  lib/archethic/self_repair/network_chain.ex
  lib/archethic/self_repair/network_view.ex
  lib/archethic/self_repair/repair_worker.ex
  lib/archethic/self_repair/supervisor.ex
  lib/archethic/shared_secrets.ex
  lib/archethic/telemetry.ex
  lib/archethic/transaction_chain.ex
  lib/archethic/utils.ex
  mix.exs
  mix.lock
  test/archethic/bootstrap_test.exs
  test/archethic/p2p/messages_test.exs
  test/archethic/reward/scheduler_test.exs
  test/archethic/self_repair/network_chain_test.exs
  test/archethic/self_repair/network_view_test.exs
  test/archethic/self_repair/repair_worker_test.exs
  test/archethic/self_repair/self_repair_test.exs
  test/archethic/shared_secrets_test.exs
  test/archethic/utils_test.exs
  test/archethic_test.exs
  test/archethic_web/controllers/faucet_controller_test.exs
  test/support/template.ex
Labels: feature, mining

#987 Smart Contract: `is_function_call?` bug
  lib/archethic/contracts/interpreter/ast_helper.ex
  test/archethic/contracts/interpreter/action_interpreter_test.exs
Labels: bug, smart contracts

#990 start app even if P2P port cannot be opened
  lib/archethic/networking/port_forwarding.ex
Labels: bug, networking

#995 Add json parse smart contracts
  lib/archethic/contracts/interpreter/library/common/json.ex
  test/archethic/contracts/interpreter/library/common/json_test.exs
Labels: feature, smart contracts, external contribution

#997 Smart Contracts: empty list should not be transformed to an empty map
  lib/archethic/contracts/interpreter/ast_helper.ex
  test/archethic/contracts/interpreter/library/common/list_test.exs
Labels: bug, smart contracts
