Repository archethic-foundation/archethic-node, pull requests merged in 2023-07, with the labels that each got.

#1140 Fix ChainIndex get_genesis_address
  lib/archethic/db/embedded_impl/chain_index.ex
Labels: bug, DB

#1141 Fix stats adding multiple times same summary
  lib/archethic/db/embedded_impl/stats_info.ex
  priv/migration_tasks/prod/1.2.4@stats_info.ex
Labels: bug, beacon chain

#1143 Clear old version conditions
  lib/archethic/beacon_chain.ex
  lib/archethic/beacon_chain/slot.ex
  lib/archethic/beacon_chain/subset.ex
  lib/archethic/beacon_chain/subset/summary_cache.ex
  priv/migration_tasks/prod/1.1.0@migrate_old_tx_summaries.exs
Labels: quality

#1147 Run election on current node view in self repair
  lib/archethic/self_repair/sync.ex
  test/archethic/self_repair/sync_test.exs
Labels: bug, self repair

#1145 Add geo patch as default network patch
  lib/archethic/self_repair/sync.ex
  test/archethic/self_repair/sync_test.exs
Labels: bug, beacon chain

#1153 Fix p2p node info on first enrolled node
  lib/archethic/bootstrap/sync.ex
Labels: bug, bootstrap

#1152 Set Nx backend to EXLA
  config/config.exs
  lib/archethic/beacon_chain/network_coordinates.ex
  test/archethic/beacon_chain/network_coordinates_test.exs
Labels: beacon chain, enhancements

#1155 fix playbook: pass proto params to functions
  lib/archethic/utils/regression/playbook.ex
Labels: bug, smart contracts

#1148 Optimize context retrieving
  lib/archethic/mining/transaction_context.ex
Labels: mining, enhancements

#1168 Fix invalid slot time
  lib/archethic/beacon_chain/slot_timer.ex
  lib/archethic/beacon_chain/subset.ex
  test/archethic/beacon_chain/slot_timer_test.exs
  test/archethic/beacon_chain/subset_test.exs
Labels: bug, beacon chain

#1176 Fix contract validation & Playbook.tx_to_json
  lib/archethic/contracts.ex
  lib/archethic/utils/regression/playbook.ex
  test/archethic/contracts_test.exs
Labels: bug, mining

#1117 Improve test-release.sh
  scripts/test-release.sh
Labels: testing, release

#1164 AEWeb: schema is more strict
  priv/json-schemas/aeweb.json
  test/archethic/mining/pending_transaction_validation_test.exs
Labels: web hosting

#1178 add optional timeout to send_transaction_with_await_replication
  lib/archethic/utils/regression/playbook.ex
  lib/archethic/utils/websocket/handler.ex
Labels: enhancements

#1181 Smart contract functions without args
  lib/archethic/contracts.ex
  lib/archethic/contracts/contract.ex
  lib/archethic/contracts/interpreter.ex
  lib/archethic/contracts/interpreter/action_interpreter.ex
  lib/archethic/contracts/interpreter/common_interpreter.ex
  lib/archethic/contracts/interpreter/condition_interpreter.ex
  lib/archethic/contracts/interpreter/function_interpreter.ex
  lib/archethic/contracts/interpreter/scope.ex
  test/archethic/contracts/interpreter/action_interpreter_test.exs
  test/archethic/contracts/interpreter/condition_interpreter_test.exs
  test/archethic/contracts/interpreter/function_interpreter_test.exs
  test/archethic/contracts/interpreter_test.exs
  test/support/template.ex
Labels: feature, smart contracts

#1180 use PlugCrypto binary to term in bootstrap.info
  lib/archethic/db/embedded_impl/bootstrap_info.ex
  mix.exs
Labels: quality

#1193 Fix SC log function
  lib/archethic/contracts/interpreter/common_interpreter.ex
Labels: bug, smart contracts

#1191 Remove String.trim before parsing code
  lib/archethic/contracts/interpreter.ex
  lib/archethic/contracts/interpreter/legacy.ex
Labels: bug, smart contracts

#1189 Add Chain.get_transaction/1
  lib/archethic/contracts/interpreter/library/common/chain.ex
  lib/archethic/contracts/interpreter/library/common/chain_impl.ex
  test/archethic/contracts/interpreter/library/common/chain_test.exs
Labels: smart contracts
