Repository archethic-foundation/archethic-node, pull requests merged in 2023-08, with the labels that each got.

#1201 Add new library function Chain.get_burn_address
  lib/archethic/contracts/interpreter/library/common/chain.ex
  lib/archethic/contracts/interpreter/library/common/chain_impl.ex
  test/archethic/contracts/interpreter/library/common/chain_test.exs
Labels: feature, smart contracts

#1207 Fix aeweb schema, add hashFunction
  priv/json-schemas/aeweb.json
Labels: bug, web hosting

#1222 Update deps and remove babel
  assets/package-lock.json
  assets/package.json
Labels: dependencies

#1214 AEIP-19 token recipients
  lib/archethic/bootstrap/network_init.ex
  lib/archethic/mining/fee.ex
  lib/archethic/mining/pending_transaction_validation.ex
  lib/archethic/mining/validation_context.ex
  lib/archethic/replication/transaction_validator.ex
  lib/archethic/transaction_chain/transaction.ex
  lib/archethic/transaction_chain/transaction/validation_stamp/ledger_operations.ex
  priv/json-schemas/token-core.json
  priv/json-schemas/token-resupply.json
  test/archethic/mining/distributed_workflow_test.exs
  test/archethic/mining/fee_test.exs
  test/archethic/mining/pending_transaction_validation_test.exs
  test/archethic/mining/validation_context_test.exs
  test/archethic/replication_test.exs
  test/archethic/transaction_chain/transaction/validation_stamp/ledger_operations_test.exs
  test/archethic/transaction_chain/transaction_test.exs
  test/support/transaction_factory.ex
Labels: mining, AEIP

#1227 Add Map.delete function in SC
  lib/archethic/contracts/interpreter/library/common/map.ex
  test/archethic/contracts/interpreter/library/common/map_test.exs
Labels: feature, smart contracts

#1234 Adapt the fee for multi recipients transactions
  lib/archethic/mining.ex
  lib/archethic/mining/fee.ex
  lib/archethic/mining/validation_context.ex
  test/archethic/mining/distributed_workflow_test.exs
  test/archethic/mining/fee_test.exs
  test/archethic/mining/validation_context_test.exs
  test/archethic/replication_test.exs
  test/archethic_web/api/rest/controllers/transaction_controller_test.exs
  test/support/transaction_factory.ex
Labels: feature, Fee

#1235 Refactor named action to use arity as key
  lib/archethic/contracts.ex
  lib/archethic/contracts/contract.ex
  lib/archethic/contracts/contract/conditions.ex
  lib/archethic/contracts/interpreter.ex
  lib/archethic/contracts/interpreter/action_interpreter.ex
  lib/archethic/contracts/interpreter/condition_interpreter.ex
  lib/archethic/contracts/interpreter/condition_validator.ex
  lib/archethic/contracts/interpreter/legacy.ex
  lib/archethic/contracts/interpreter/legacy/condition_interpreter.ex
  lib/archethic/contracts/worker.ex
  lib/archethic/mining/proof_of_work.ex
  lib/archethic/p2p/message/validate_smart_contract_call.ex
  lib/archethic_web/api/jsonrpc/methods/simulate_contract_execution.ex
  test/archethic/contracts/contract_test.exs
  test/archethic/contracts/interpreter/condition_interpreter_test.exs
  test/archethic/contracts/interpreter/legacy/condition_interpreter_test.exs
  test/archethic/contracts/interpreter_test.exs
  test/archethic/contracts_test.exs
Labels: bug, smart contracts
