Repository archethic-foundation/archethic-node, pull requests merged in 2023-02, with the labels that each got.

#849 SC: Add TransactionStatements functions to work with lists
  lib/archethic/contracts/interpreter/action.ex
  lib/archethic/contracts/interpreter/transaction_statements.ex
  test/archethic/contracts/interpreter/action_test.exs
Labels: feature, smart contracts

#858 added get_token_id function in smart contract library
  lib/archethic/contracts/interpreter/library.ex
  lib/archethic/contracts/interpreter/utils.ex
  lib/archethic/utils.ex
  lib/archethic_web/graphql_schema/resolver.ex
  test/archethic/contracts/interpreter/library_test.exs
Labels: feature, smart contracts, core team

#859 quorum during self repair should fetch from all nodes
  lib/archethic/p2p.ex
  lib/archethic/self_repair/repair_worker.ex
  lib/archethic/self_repair/sync/transaction_handler.ex
  lib/archethic/transaction_chain.ex
  test/archethic/p2p_test.exs
  test/archethic/self_repair/sync/transaction_handler_test.exs
Labels: bug, self repair, core team

#879 Improve balance api
  lib/archethic_web/graphql_schema.ex
  lib/archethic_web/graphql_schema/resolver.ex
  test/archethic_web/graphql_schema_test.exs
Labels: API, enhancements

#897 Create appup transform to set post_purge to soft
  lib/release/transform_purge.ex
  rel/config.exs
Labels: dependencies, enhancements

#900 Contract Loader: should be able to load a contract & trigger recipients at the same time#866
  lib/archethic/contracts/loader.ex
  test/archethic/contracts/loader_test.exs
Labels: smart contracts

#906 fix typo in GetFirstPublicKey process function
  lib/archethic/p2p/message/get_first_public_key.ex
Labels: bug, core team

#899 ensure code proposal contains a valid appup file with the right versions
  lib/archethic/governance/code.ex
  lib/archethic/governance/code/proposal/parser.ex
  mix.exs
  mix.lock
  test/archethic/governance/code_test.exs
Labels: core team, Governance

#883 Issue #811 offload transaction indexes memory tables
  config/config.exs
  lib/archethic/db/embedded_impl/chain_index.ex
  test/archethic/db/embedded_impl/chain_index_test.exs
Labels: transaction, core team, enhancements

#902 fixed code proposals and code proposal details pages
  assets/js/app.js
  lib/archethic_web/live/code_proposal_details_live.ex
  lib/archethic_web/templates/code/proposal_details.html.heex
  lib/archethic_web/templates/code/proposal_list.html.heex
  lib/archethic_web/templates/layout/root.html.heex
Labels: UI, core team, Governance

#888 Restart self repair when it crashes
  lib/archethic.ex
  lib/archethic/beacon_chain/slot_timer.ex
  lib/archethic/bootstrap.ex
  lib/archethic/networking/scheduler.ex
  lib/archethic/oracle_chain/scheduler.ex
  lib/archethic/p2p/listener.ex
  lib/archethic/pub_sub.ex
  lib/archethic/reward/scheduler.ex
  lib/archethic/self_repair.ex
  lib/archethic/self_repair/scheduler.ex
  lib/archethic/self_repair/sync.ex
  lib/archethic/shared_secrets/node_renewal_scheduler.ex
  lib/archethic_web/channels/user_socket.ex
  lib/archethic_web/endpoint.ex
  test/archethic/beacon_chain/slot_timer_test.exs
  test/archethic/db/embedded_impl/chain_index_test.exs
  test/archethic/oracle_chain/scheduler_test.exs
  test/archethic/pub_sub_test.exs
  test/archethic/reward/scheduler_test.exs
  test/archethic/self_repair/scheduler_test.exs
  test/archethic/shared_secrets/node_renewal_scheduler_test.exs
  test/test_helper.exs
Labels: bug, self repair, core team

#910 plug governance flow with incoming transactions
  lib/archethic/governance/code/CICD.ex
  lib/archethic/governance/code/cicd/docker/cicd.ex
  lib/archethic/governance/pools/mem_table.ex
  lib/archethic/mining/pending_transaction_validation.ex
  lib/archethic/replication.ex
  lib/archethic/transaction_chain/mem_tables_loader.ex
Labels: core team, Governance

#916 Take previous reward address in node bootstrap
  lib/archethic/bootstrap.ex
Labels: bug, API, bootstrap
