Repository archethic-foundation/archethic-node, pull requests merged in 2024-04, with the labels that each got.

#1492 Add new arg for upfrom version in release scripts
  scripts/release.sh
  scripts/test-release.sh
Labels: feature, release

#1502 Fix playbook heartbeat on websocket
  lib/archethic/utils/websocket/handler.ex
Labels: bug, testing

#1493 Ensure enough funds during smart contract call validation
  lib/archethic/contracts/interpreter.ex
  lib/archethic/crypto.ex
  lib/archethic/governance/code/proposal/parser.ex
  lib/archethic/mining/smart_contract_validation.ex
  lib/archethic/p2p/message/smart_contract_call_validation.ex
  lib/archethic/p2p/message/validate_smart_contract_call.ex
  test/archethic/p2p/message/validate_smart_contract_call_test.exs
Labels: smart contracts, mining, enhancements

#1500 ValidateSmartContractCall timeout
  config/test.exs
  lib/archethic/mining/smart_contract_validation.ex
  lib/archethic/p2p/message/smart_contract_call_validation.ex
  lib/archethic/p2p/message/validate_smart_contract_call.ex
  test/archethic/p2p/message/validate_smart_contract_call_test.exs
Labels: feature, mining

#1504 API: fix transaction_chain when the paging_address == genesis_address
  lib/archethic/db/embedded_impl/chain_reader.ex
  test/archethic/db/embedded_impl_test.exs
  test/archethic/transaction_chain_test.exs
Labels: bug, API

#1491 Add a metric for the sum of all the calls queued for the workers
  lib/archethic/contracts.ex
  lib/archethic/telemetry.ex
Labels: feature
