Repository archethic-foundation/archethic-node, pull requests merged in 2024-08, with the labels that each got.

#1549 Add meta:robots to explorer
  lib/archethic_web/explorer/templates/layout/root.html.heex
Labels: UI, quality

#1550 Add `Math.bigint` in SC
  lib/archethic/contracts/interpreter/library/common/math.ex
  test/archethic/contracts/interpreter/library/common/math_test.exs
Labels: feature, smart contracts

#1551 Fix notifier genesis_address in ShardRepair msg
  lib/archethic/p2p/message/shard_repair.ex
  lib/archethic/self_repair/notifier.ex
  test/archethic/p2p/messages_test.exs
  test/archethic/self_repair/notifier_test.exs
Labels: bug, self repair
