Repository archethic-foundation/archethic-node, pull requests merged in 2024-05, with the labels that each got.

#1494 Bootstrap: Replicate missed transaction of current summary
  lib/archethic/beacon_chain.ex
  lib/archethic/bootstrap.ex
  lib/archethic/p2p/message.ex
  lib/archethic/p2p/message/current_replication_attestations.ex
  lib/archethic/p2p/message/get_current_replication_attestations.ex
  lib/archethic/p2p/message/get_current_summaries.ex
  lib/archethic/p2p/message/message_id.ex
  lib/archethic/self_repair.ex
  lib/archethic/self_repair/sync.ex
  test/archethic/beacon_chain_test.exs
  test/archethic/bootstrap_test.exs
  test/archethic/p2p/message/current_replications_attestations_test.exs
  test/archethic/p2p/message/get_current_replications_attestations_test.exs
  test/archethic/self_repair/self_repair_test.exs
Labels: feature, bootstrap

#1507 Also fetch the inputs when fetching the transactions
  lib/archethic/self_repair.ex
  lib/archethic/self_repair/sync.ex
  test/archethic/self_repair/self_repair_test.exs
  test/archethic/self_repair/sync_test.exs
Labels: bug, self repair

#1515 Add slippage acceptance for fee's validation
  lib/archethic/mining/fee.ex
  lib/archethic/mining/validation_context.ex
  lib/archethic/replication/transaction_validator.ex
  test/archethic/mining/fee_test.exs
  test/archethic/mining/validation_context_test.exs
Labels: bug, mining, Fee

#1516 Dashboard Y-axis in second
  assets/js/metric_config.js
Labels: feature

#1512 Add Crypto.decrypt_with_storage_nonce/1 in Interpreter's library
  lib/archethic/contracts/interpreter/library/common/crypto.ex
  lib/archethic/crypto.ex
  test/archethic/contracts/interpreter/library/common/crypto_test.exs
Labels: feature, smart contracts

#1521 Smart Contracts: change cache key
  lib/archethic/contracts.ex
Labels: bug
