Repository archethic-foundation/archethic-node, pull requests merged in 2025-01, with the labels that each got.

#1621 Leverage disk for the summary cache to stream summaries
  lib/archethic.ex
  lib/archethic/beacon_chain.ex
  lib/archethic/beacon_chain/network_coordinates.ex
  lib/archethic/beacon_chain/subset.ex
  lib/archethic/beacon_chain/subset/stats_collector.ex
  lib/archethic/beacon_chain/subset/summary_cache.ex
  lib/archethic/beacon_chain/subset/supervisor.ex
  lib/archethic/p2p/message/get_current_replication_attestations.ex
  lib/archethic/p2p/message/get_current_summaries.ex
  lib/archethic_web/api/graphql/schema/beacon_chain_summary_type.ex
  lib/archethic_web/api/graphql/schema/resolver.ex
  lib/archethic_web/explorer/live/chains/beacon_chain_live.ex
  test/archethic/beacon_chain/subset/stats_collector_test.exs
  test/archethic/beacon_chain/subset/summary_cache_test.exs
  test/archethic/beacon_chain/subset_test.exs
  test/archethic/beacon_chain_test.exs
  test/archethic/self_repair/scheduler_test.exs
  test/archethic_web/api/graphql/schema_test.exs
Labels: beacon chain, enhancements

#1634 Handle acceptance_failed in adjust attestation
  lib/archethic/self_repair/sync.ex
Labels: bug, self repair

#1636 Ignore asdf upstate exit code
  scripts/install.sh
Labels: bug, dependencies, system

#1649 Fix timeout when writing slot in summary cache
  lib/archethic/beacon_chain/subset/summary_cache.ex
Labels: bug, beacon chain
