Repository archethic-foundation/archethic-node, pull requests merged in 2025-02, with the labels that each got.

#1656 Remove ko ledger
  config/test.exs
  lib/archethic.ex
  lib/archethic/contracts/interpreter/legacy/library.ex
  lib/archethic/mining/pending_transaction_validation.ex
  lib/archethic/p2p/message/get_last_transaction.ex
  lib/archethic/p2p/message/get_transaction.ex
  lib/archethic/replication.ex
  lib/archethic/transaction_chain.ex
  lib/archethic/transaction_chain/mem_tables/ko_ledger.ex
  lib/archethic/transaction_chain/supervisor.ex
  lib/archethic_web/aeweb/controllers/web_hosting_controller.ex
  lib/archethic_web/api/graphql/schema/resolver.ex
  lib/archethic_web/api/jsonrpc/methods/call_contract_function.ex
  lib/archethic_web/api/jsonrpc/methods/simulate_contract_execution.ex
  lib/archethic_web/api/rest/controllers/transaction_controller.ex
  lib/archethic_web/explorer/live/transaction_details_live.ex
  test/archethic/governance/pools/mem_table_loader_test.exs
  test/archethic/transaction_chain/mem_tables/ko_ledger_test.exs
  test/support/template.ex
Labels: bug

#1657 Fix function clause on request timeout in connection
  lib/archethic/p2p/client/connection.ex
Labels: bug, P2P

#1642 Validation election new algo
  .gitignore
  lib/archethic.ex
  lib/archethic/election.ex
  lib/archethic/election/constraints/validation.ex
  lib/archethic/mining.ex
  lib/archethic/mining/distributed_workflow.ex
  lib/archethic/mining/standalone_workflow.ex
  lib/archethic/mining/validation_context.ex
  lib/archethic/p2p/message/start_mining.ex
  lib/archethic/replication.ex
  test/archethic/election/constraints/validation_test.exs
  test/archethic/election_test.exs
  test/archethic/mining/distributed_workflow_test.exs
  test/archethic/mining/validation_context_test.exs
  test/archethic/p2p/messages_test.exs
  test/archethic_test.exs
Labels: feature, mining, election

#1658 Rewrite HD in Elixir, add overbooking calculation
  Makefile
  README.md
  lib/archethic/application.ex
  lib/archethic/beacon_chain/replication_attestation.ex
  lib/archethic/beacon_chain/slot.ex
  lib/archethic/beacon_chain/subset.ex
  lib/archethic/bootstrap/sync.ex
  lib/archethic/election.ex
  lib/archethic/election/constraints.ex
  lib/archethic/election/constraints/storage.ex
  lib/archethic/election/constraints/validation.ex
  lib/archethic/election/hypergeometric_distribution.ex
  lib/archethic/election/supervisor.ex
  lib/archethic/mining.ex
  lib/archethic/p2p/message/new_beacon_slot.ex
  lib/archethic/replication/transaction_validator.ex
  lib/archethic/self_repair/sync.ex
  lib/mix/tasks/db.ex
  src/c/hypergeometric_distribution.c
  test/archethic/election/constraints/validation_test.exs
  test/archethic/election/constraints_test.exs
  test/archethic/election/hypergeometric_distribution.exs
  test/archethic/election/hypergeometric_distribution_test.exs
  test/archethic/election_test.exs
  test/archethic/mining/distributed_workflow_test.exs
  test/archethic/replication/transaction_validator_test.exs
  test/archethic/transaction_chain_test.exs
  test/archethic_test.exs
  test/support/template.ex
Labels: feature, election

#1620 Feature/handle geopatch updates in notifier
  lib/archethic/p2p/mem_table_loader.ex
  lib/archethic/self_repair.ex
  lib/archethic/self_repair/notifier.ex
  lib/archethic/self_repair/sync.ex
  test/archethic/self_repair/notifier_test.exs
  test/archethic/self_repair/sync_test.exs
Labels: P2P, enhancements, election
